* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #F5CF06;
    --secondary-color: #8E4106;
    --white: #ffffff;
    --space-default: 70px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: var(--primary-color);
    padding-left: var(--space-default);
    padding-top: var(--space-default);
    padding-right: var(--space-default);
    padding-bottom: 24px;
}

header {
    height: 48px;
    background-color: brown;
}

main {
    background-color: cadetblue;
    flex-grow: 1;
}

footer {
    background-color: chartreuse;
}